.container {
  padding: 50px;
}

.svg {
  padding: 5px;
  width: 100%;
  background: #f8f9fa;
}

.yTick {
  stroke: #dedede;
}

.minorXTick {
  stroke: #dedede;
}
.minorXTick.year {
  stroke: #bebebe;
}

.line {
  fill: none;
  opacity: .4;
}
